{% extends "base.html" %}
{% load static %} 
{% block extra_title %}- Home
{% endblock %}
{% block page_header %}
<div class="header-container container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container container-bn h-100">
  <div class="row h-100 align-items-center">
    <div class="row h-100 overlay">
      <div class="col-8 my-auto">
        <h1 class="text-center display-5">Get your latest read</h1>
      </div>
      <div class="my-5">
        <h4>
          <a href="{% url 'products' %}" class="btn btn-navy rounded-5 text-uppercase py-3">Shop now</a>
        </h4>
      </div>
    </div>
  </div>
</div>
<div id="newsletter-signup" class="sign-up-container container my-5 py-2">
  <div class="row">
    <div class=" col-6 bg-navy text-center">
      <h2 class="text-cream">Sign Up for our Newsletter</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 bg-navy">
      <form method="POST" action="{% url 'newsletter_signup' %}" class="text-cream">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-cream rounded-0 mb-4">Sign up</button>
      </form>   
    </div>
  </div>
</div>
{% endblock %}
