{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Home{% endblock %}

{% block content %}
<div class="container h-100">
  <div class="row -h-100 align-items-center">
    <div class="col-12">
      <h1 class="text-center"></h1>
    </div>
  </div>
</div>

<!--
<div class="col-lg-6">
          <ul class="navbar-nav list-unstyled d-flex flex-row gap-3 lg-gap-5 justify-content-center flex-wrap align-items-center mb-0 text-uppercase text-dark">
            <li class="nav-item">
              <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle pe-3" role="button" id="pages" data-bs-toggle="dropdown" aria-expanded="false" href="">Pages</a>
              <ul class="dropdown-menu border-0 p-3 rounded-shadow" aria-labelledby="pages">
                <li><a class="dropdown-item" href="">Bestsellers</a></li>
                <li><a class="dropdown-item" href="">Books</a></li>
                <li><a class="dropdown-item" href="">Accessories</a></li>
                <li><a class="dropdown-item" href="">Contact Us</a></li>
                <li><a class="dropdown-item" href="">Community</a></li>
              </ul>
            </li>
          </ul>
        </div>
-->
{% endblock %}