{% if show_filters %}
<div class="filter-container text-centre">
    {% if type == "all" %}
        <div class="button-container">
            <div class="main-buttons">
                <button class="btn btn-blue rounded-0" id="categoryButton" aria-expanded="false" aria-controls="categoryButtonsContainer" aria-label="Category button to see all accessory categories">
                    <span class="mt-4">Browse by Accessory Category</span>
                </button>
                <button class="btn btn-green rounded-0" id="genreButton"  aria-expanded="false" aria-controls="genreButtonsContainer" aria-label="Genre button to see all book genres">
                    <span class="mt-4">Browse by Book Genre</span>
                </button>
            </div>
            <div class="sub-buttons">
                <div id="categoryButtonsContainer" class="hidden">
                    {% for category in all_categories %}
                        <a class="btn btn-blue btn-sm rounded-0 m-1" href="{% url 'all_accessories' %}?category={{ category.friendly_name|urlencode }}">
                            <span class="m-2 p-2">{{ category.friendly_name }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div id="genreButtonsContainer" class="hidden">
                    {% for genre in all_genres %}
                        <a class="btn btn-green btn-sm rounded-0 m-1" href="{% url 'all_books' %}?genre={{ genre.friendly_name|urlencode }}">
                            <span class="m-2 p-2">{{ genre.friendly_name }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>   
        </div>
    {% elif type == 'books' %}
        <button class="btn btn-green btn-sm rounded-0" id="genreButton" aria-expanded="false" aria-controls="genreButtonsContainer" aria-label="Genre button to see all book genres">
            <span class="mt-4">Browse by Genre</span>
        </button>
        <div id="genreButtonsContainer" class="hidden">
            {% for genre in all_genres %}
                    <a class="btn btn-green btn-sm rounded-0 m-1" href="{% url 'all_books' %}?genre={{ genre.friendly_name|urlencode }}">
                        <span class="p-2 mt-2">{{ genre.friendly_name }}</span>
                    </a>
            {% endfor %}
        </div>
    {% elif type == 'accessories' %}
        <button class="btn btn-blue btn-sm rounded-0" id="categoryButton" aria-expanded="false" aria-controls="categoryButtonsContainer"aria-label="Category button to see all accessory categories">
            <span class="mt-4">Browse by Accessory</span>
        </button>
        <div id="categoryButtonsContainer" class="hidden">
            {% for category in all_categories %}
                    <a class="btn btn-blue btn-sm rounded-0 m-1" href="{% url 'all_accessories' %}?category={{ category.friendly_name|urlencode }}">
                        <span class="mt-2 p-2">{{ category.friendly_name }}</span>
                    </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endif %}
<div class="row mt-1 mb-2">
    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
        <div class="sort-select-wrapper w-50">
            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            </select>
        </div>
    </div>
    {% if product_count %}
    <div class="col-12 col-md-6 order-md-first">
        <p class="text-muted mt-3 text-center text-md-left">
            {% if search_term or current_category or current_genre or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
            {% endif %}
            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
        </p>
    </div>
    {% endif %}
</div>