<script>
    $(document).ready(function() {

        // Disable +/- buttons outside 1-99 range
        function handleEnableDisable(itemId) {
            var currentValueSmall = parseInt($(`#id_qty_${itemId}`).val());
            var currentValueLarge = parseInt($(`#id_qty-large_${itemId}`).val());
            var minusDisabledSmall = currentValueSmall < 2;
            var plusDisabledSmall = currentValueSmall > 98;
            var minusDisabledLarge = currentValueLarge < 2;
            var plusDisabledLarge = currentValueLarge > 98;

            $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabledSmall);
            $(`#increment-qty_${itemId}`).prop('disabled', plusDisabledSmall);
            $(`#decrement-qty-large_${itemId}`).prop('disabled', minusDisabledLarge);
            $(`#increment-qty-large_${itemId}`).prop('disabled', plusDisabledLarge);
        }

        // Ensure proper enabling/disabling of all inputs on page load
        var allQtyInputs = $('.qty_input');
        for(var i = 0; i < allQtyInputs.length; i++){
            var itemId = $(allQtyInputs[i]).data('item_id');
            handleEnableDisable(itemId);
        }

        // Check enable/disable every time the input is changed
        $('.qty_input').change(function() {
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });

        // Increment quantity
        $('.increment-qty, .increment-qty-large').click(function(e) {
            e.preventDefault();
            var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
            var currentValue = parseInt($(closestInput).val());
            $(closestInput).val(currentValue + 1);
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });

        // Decrement quantity
        $('.decrement-qty, .decrement-qty-large').click(function(e) {
            e.preventDefault();
            var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
            var currentValue = parseInt($(closestInput).val());
            $(closestInput).val(currentValue - 1);
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });
    });
</script>