<div class="col-md-6 mb-4 mt-3 border-0">  
    <h2>Reviews 
        <span class="text-muted">{% if review_count > 0 %}({{ review_count }}){% else %}0{% endif %}</span>
    </h2>
    {% for review in reviews %}
        <div class="p-2 reviews {% if not review.approved and review.author == user %} text-muted {% elif not review.approved %} d-none{% endif %}">
            <h3 class="font-weight-bold review-title h4">{{ review.title }}</h3>
            <p class="text-small text-muted ">By {{ review.author.username }} - {{ review.created_on|date:"F j, Y"}}</p>
            <p class="m-0">Rating: <span class="review-rating">{{ review.rating }}</span>/5</p>
            <div id="review{{ review.id }}">
                <p class="review-body lora h4">{{ review.body }}</p>
            </div>
            {% if not review.approved and review.author == user %}
                <p class="text-danger">
                    This review is awaiting approval
                </p>
            {% endif %}
            {% if user.is_authenticated and review.author == user %}
                <a href="#" class="text-danger text-decoration-none text-small" data-toggle="modal" data-target="#deleteReviewModal" data-url="{% url 'delete_review' review.id %}">Delete</a>
                <a href="#" class="text-success edit-review text-decoration-none text-small" review_id="{{ review.id }}">Edit</a>
            {% endif %}
        </div>
    {% empty %}
        <p>No reviews yet. Be the first!</p>
    {% endfor %}
</div>
<div class="col-md-6 mb-4 mt-3 border-0">
    <div>
        {% if user.is_authenticated and has_purchased %}
            <h3>Leave a Review</h3>
            <form method="POST" class="form" action="{% url 'submit_review' product.id %}" id="review-form">
                {% csrf_token %}
                {{ review_form|crispy }}
                <input type="hidden" name="review_id" id="review-id">
                <input type="hidden" name="next" value="product_detail">
                <button type="submit" class="btn btn-navy rounded-0 mt-3" id="review-submit-btn">Submit Review</button>
            </form>
        {% else %}
            <p>Only customers who have purchased this item can leave a review.</p>
        {% endif %}
    </div>
</div>