{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Profile
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <!-- Include Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="profile-overlay"></div>
    <div class="container mb-5">
        <h1>{{ user.username }}'s Profile</h1>
        <p class="text-navy">Member since: {{ user.profile.data_joined }}</p>
        <hr>

        <div class="row">
            <div class="col-4 profile-buttons">
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('deliveryDetails')">Delivery Details</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('personalInfo')">Personal Bio</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('orderHistory')">Order History</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('userReviews')">My Reviews</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('myWishlists')">My Wishlists</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('mySavedItems')">My Saved Items</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('forumInteraction')">Forum Interaction</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('rewardsBenefits')">Rewards and Benefits</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('newsletter')">Newsletter</button>
            </div>
            <div class="col-8">
                <div id="deliveryDetails" class="content-section" style="display: none;">
                    <h2>Saved Delivery Details</h2>
                    <hr>
                    <p><span class="lora-bold">Phone Number:</span> {{ profile.default_phone_number }}</p>
                    <p><span class="lora-bold">Street Address 1:</span> {{ profile.default_street_address1 }}</p>
                    <p><span class="lora-bold">Street Address 2:</span> {{ profile.default_street_address2 }}</p>
                    <p><span class="lora-bold">Town or City:</span> {{ profile.default_town_or_city }}</p>
                    <p><span class="lora-bold">County:</span> {{ profile.default_county }}</p>
                    <p><span class="lora-bold">Country:</span> {{ profile.default_country }}</p>
                    <p><span class="lora-bold">Postal Code:</span> {{ profile.default_postcode }}</p>
                    <button type="button" class="btn btn-outline-navy rounded-0" onclick="toggleForm('formDelivery')">Update Delivery Details</button>
                    <div id="formDelivery" style="display: none;" class="mt-3">
                        <form method="POST" action="{% url 'update_delivery_details' %}">
                            {% csrf_token %}
                            {{ delivery_form|crispy }}
                            <button type="submit" class="btn btn-navy rounded-0">Save</button>
                        </form>
                    </div>
                </div>
                <div id="personalInfo" class="content-section" style="display: none;">
                    <h2>Saved Personal Details</h2>
                    <hr>
                    <h3>Your Bio:</h3>
                        <p>{{ profile.bio }}</p>
                    <h3>Favourite Books:</h3>
                        <ul class="list-unstyled">
                            {% for book in profile.favourite_books.all %}
                            <li>
                                <p>{{ book.friendly_name }} by: {{ book.author }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    <button type="button" class="btn btn-outline-navy rounded-0" onclick="toggleForm('formPersonalInfo')">Update Personal Info</button>
                    <div id="formPersonalInfo" style="display: none;" class="mt-3">
                        <form method="POST" action="{% url 'update_personal_info' %}">
                            {% csrf_token %}
                            {{ personal_info_form|crispy }}
                            <button type="submit" class="btn btn-navy rounded-0">Save</button>
                        </form>
                    </div>
                </div>
                <div id="orderHistory" class="content-section" style="display: none;">
                    <h2>Past Orders</h2>
                    <hr>
                    <div class="container d-block d-md-none">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                {% for order in orders %}
                                <div class="order-history-card">
                                    <div>
                                        <div class="lora-bold">Order Number: </div>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </div>
                                    <div>
                                        <div class="lora-bold">Order Date: </div>
                                        <p>{{ order.date }}</p>
                                    </div>
                                    <div>
                                        <div class="lora-bold">Items: </div>
                                        <div>
                                            <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                    <li class="small">
                                                        {{ item.product.friendly_name }} x{{ item.quantity }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="lora-bold">Order Total:</div>
                                        <div>£{{ order.grand_total }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    

                    <div class="order-history table-responsive d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th class="lora-bold">Order Number</th>
                                    <th class="lora-bold">Date</th>
                                    <th class="lora-bold">Items</th>
                                    <th class="lora-bold">Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                    <li class="small">
                                                        {{ item.product.friendly_name }} x{{ item.quantity }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>£{{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="userReviews" class="content-section" style="display: none;">
                    <h2>My Reviews</h2>
                    <hr>
                    <div id="edit-review-form-container" style="display: none;">
                        <h3>Edit Review</h3>
                        <form method="POST" class="form" action="{% url 'update_review' %}" id="review-form">
                            {% csrf_token %}
                            {{ review_form|crispy }}
                            <input type="hidden" name="review_id" id="review-id">
                            <input type="hidden" name="product_id" id="product-id">
                            <input type="hidden" name="next" value="profile">
                            <button type="submit" class="btn btn-navy rounded-0 mt-3" id="review-submit-btn">Update Review</button>
                        </form>
                    </div>
                    <div class="p-reviews-container">
                        {% if reviews %}
                            {% for review in reviews %}
                                <div class="review-card m-2">
                                    <p class="text-muted lora">Product Reviewed: <a href="{% url 'product_detail' review.product.id %}" class="text-decoration-none">{{ review.product.friendly_name }}</a></p>
                                    <h3 class="review-title h4">{{ review.title }}</h3>
                                    <p class="review-content h4 lora">{{ review.body }}</p>
                                    <p class="review-meta">Reviewed on: {{ review.created_on }}</p>
                                    <p>Rating: <span class="review-rating">{{ review.rating }}</span>/5</p>
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="btn btn-success btn-sm rounded-0 edit-review" review_id="{{ review.id }}" product_id="{{ review.product.id }}">Edit Review</a>
                                        <a href="#" class="btn btn-danger btn-sm rounded-0" data-toggle="modal" data-target="#deleteReviewModal" data-url="{% url 'delete_review' review.id %}">Delete</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4>You don't have any reviews yet.</h4>
                        {% endif %}
                    </div>
                    <div class="mt-3">
                        <h2>Items Left to Review</h2>
                        <hr>
                        {% if unreviewed_products %}
                            <ul class="list-unstyled">
                                {% for product in unreviewed_products %}
                                    <li class="d-flex justify-content-between mb-2">
                                        <p class="lora">{{ product.friendly_name }}</p>
                                        <a href ="{% url 'product_detail' product.id %}" class="btn btn-outline-navy rounded-0">Review Product</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h3>You have reviewed all your purchased items.</h3>
                        {% endif %}
                    </div>   
                </div>
                <div id="myWishlists" class="content-section" style="display: none;">
                    <h2>My Wishlists</h2>
                    <hr>
                    {% if wishlists %}
                        <div class="wishlist-container d-flex flex-wrap">
                            {% for wishlist in wishlists %}
                            <div class="wishlist-card m-2">
                                <h3 class="wishlist-title roboto">{{ wishlist.name }}</h3>
                                <ul class="wishlist-items list-unstyled">
                                    {% for item in wishlist.wishlist_items.all %}
                                        <li class="wishlist-item">
                                            <div class="d-flex">
                                                <div class="thumbnail-image-container">
                                                    <a class="text-decoration-none" href="{% url 'product_detail' item.product.id %}">
                                                        {% if item.product.image %}
                                                            <img class="card-img-top img-fluid thumbnail-image" src="{{ item.product.image.url }}" alt="{{ wishlist.product.name}}">
                                                        {% else %}
                                                            <img class="card-img-top img-fluid thumbnail-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name}}">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="pt-2">
                                                    <a class="text-decoration-none" href="{% url 'product_detail' item.product.id %}">
                                                        {{ item.product.friendly_name }}
                                                    </a>
                                                    {% if item.product.book %}
                                                        <p class="wishlist-author">By: {{ item.product.book.author }}</p>
                                                    {% endif %}
                                                    £{{ item.product.price }}
                                                    <div>
                                                        <a href="#" class="text-danger mt-2" data-toggle="modal" data-target="#confirmDeleteModal" data-item-id="{{ item.id }}">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <button class="btn btn-danger mt-2" data-toggle="modal" data-target="#confirmDeleteWishlistModal" data-wishlist-id="{{ wishlist.id }}">Delete Wishlist</button>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <p>You currently don't have any wishlists</p>
                    {% endif %}
                </div>
                <div id="mySavedItems" class="content-section" style="display: none;">
                    <h2>Saved for Later</h2>
                    <hr>
                    {% if saved_items %}
                        <div class="saved-items-container d-flex flex-wrap">
                            {% for saved_item in saved_items %}
                                <div class="saved-item-card m-2">
                                    {% if saved_item.product.image %}
                                        <img class="card-img-top img-fluid" src="{{ saved_item.product.image.url }}" alt="{{ saved_item.product.name}}">
                                    {% else %}
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name}}">
                                    {% endif %}
                                    <h3 class="saved-item-title roboto">{{ saved_item.product.friendly_name }}</h3>
                                    <h4 class="saved-item-author">By: {{ saved_item.product.book.author }}</h4>
                                    <p class="card-text">£{{ saved_item.product.price }}</p>
                                    <form class="form update-form" method="POST" action="{% url 'adjust_saved_item' saved_item.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{% url 'profile' %}?section=mySavedItems">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-navy btn-sm rounded-0"
                                                        data-item_id="{{ saved_item.id }}" id="decrement-qty_{{ saved_item.id}}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ saved_item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ saved_item.id }}"
                                                    id="id_qty_{{ saved_item.id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-navy btn-sm rounded-0"
                                                        data-item_id="{{ saved_item.id }}" id="increment-qty_{{ saved_item.id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="move-to-bag btn btn-xs btn-info border-0 w-100 mb-2" href="{% url 'move_to_bag' saved_item.id %}">Move to Bag</a>
                                    <div class="d-flex justify-content-start">
                                        <a class="remove-saved text-danger me-3 text-small" href="{% url 'remove_saved_item' saved_item.id %}">Remove</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                    <p>You currently don't have any saved items</p>
                    {% endif %}
                </div>
                <div id="forumInteraction" class="content-section" style="display: none;">
                    <h2>Forum Interactions</h2>
                    <hr>
                    <button class="btn btn-outline-navy btn-lg rounded-0 mb-2" type="button" onclick="showContent('threadsSection')">Threads</button>
                    <button class="btn btn-outline-navy btn-lg rounded-0 mb-2" type="button" onclick="showContent('postsSection')">Posts</button>
                    <a class="btn btn-navy btn-lg rounded-0 mb-2" href="{% url 'forum' %}">Go to Forum</a>
                    <div id="threadsSection" class="content-section" style="display: none;">
                        {% for category in categories %}
                            <div class="category-section">
                                <h2 class="category-header">{{ category.name }}</h2>
                                <div class="threads-container d-flex flex-wrap">
                                    {% for thread in threads %}
                                        {% if thread.category.id == category.id %}
                                            <div class="thread-card m-2">
                                                <h3 class="thread-title roboto">
                                                    <a href="{% url 'post_list' category.id thread.id %}" class="text-decoration-none">{{ thread.title }}</a>
                                                </h3>
                                                <p class="thread-content">{{ thread.content|truncatewords:30 }}<p>
                                                <p class="thread-meta">Started by: {{ thread.created_by.username }} on {{ thread.created_at }}</p>
                                                <div class="d-flex justify-content-between">
                                                    <a href="{% url 'edit_thread' thread.id %}?next={% url 'profile' %}?section=forumInteraction" class="btn btn-success btn-sm rounded-0">Edit Thread</a>
                                                    <a href="#" class="btn btn-danger btn-sm rounded-0" data-toggle="modal" data-target="#deleteModal" data-thread-id="{{ thread.id }}">Delete</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %} 
                    </div>
                    <div id="postsSection" class="content-section" style="display: none;">
                        {% for category, posts in posts_by_category.items %}
                            <div class="category-section">
                                <h2 class="category-header">{{ category.name }}</h2>
                                <div class="posts-container d-flex flex-wrap">
                                    {% for post in posts %}
                                        <div class="post-card m-2">
                                            <small>THREAD TITLE:</small>
                                            <p class="post-thread-title">
                                                <a href="{% url 'post_list' post.thread.category.id post.thread.id %}" class="text-decoration-none">{{ post.thread.title }}</a>
                                            </p>
                                            <p class="post-content">{{ post.content|truncatewords:30 }}</p>
                                            <p class="post-meta">Thread started by: {{ post.thread.created_by.username }} on {{ post.thread.created_at }}</p>
                                            <div class="d-flex justify-content-between">
                                                <a href="{% url 'edit_post' post.id %}?next={% url 'profile' %}?section=forumInteraction" class="text-success text-decoration-none text-small">Edit</a>
                                                <a href="#" class="text-danger text-decoration-none text-small" data-toggle="modal" data-target="#deletePostModal" data-url="{% url 'delete_post' post.id %}" data-next="{% url 'profile' %}?section=forumInteraction">Delete</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %} 
                    </div>  
                </div>
                <div id="rewardsBenefits" class="content-section" style="display: none;">
                    <h2>Member Benfits</h2>
                    <hr>
                    <p><strong>Dive into the world of books with our thrilling reading lists and challenges!</strong><br>
                        Whether you're a seasoned bookworm or just starting your literary journey, our curated reading
                        lists offer something for everyone. Explore new genres, discover hidden gems, and connect with
                        fellow readers as you embark on exciting challenges designed to ignite your passion for reading.
                        From monthly themes to year-long quests, each challenge is crafted to inspire and motivate you to
                        turn every page. Join us and transform your reading experience into an adventure filled with discovery,
                        growth, and endless enjoyment. Happy reading!
                    </p>
                    <a class="btn btn-navy rounded-0" href="{% url 'downloads' %}">Challenges</a>
                </div>
                <div id="newsletter" class="content-section" style="display: none;">
                    <h2>BookNook Newsletter</h2>
                    <hr>
                    {% if newsletter_signup %}
                        <h3 >You are subscribed to the newsletter.</h3>
                        <a class="btn btn-navy rounded-0" href="{% url 'unsubscribe_newsletter' %}?email={{ newsletter_signup.email}}">Unsubscribe</a>
                    {% else %}
                        <h3>Would you like to subscribe to our newsletter?</h3>
                        <form method="POST" action="{% url 'newsletter_signup' %}" class="text-navy">
                            {% csrf_token %}
                            {{ newsletter_form|crispy }}
                            <input type="hidden" name="source" value="profile">
                            <button type="submit" class="btn btn-cream rounded-0 mb-4">Sign up</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'profiles/includes/profile_modals.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
    <script>
        function showContent(sectionId) {
            // Hide all content sections
            document.querySelectorAll('.content-section').forEach(function(section) {
                section.style.display = 'none';
            });
            // Show the selected content section
            document.getElementById(sectionId).style.display = 'block';

           if (sectionId === 'threadsSection' || sectionId === 'postsSection') {
            document.getElementById('forumInteraction').style.display = 'block';
           }
        }

        function toggleForm(formId) {
            var form = document.getElementById(formId);
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }

        // Show the section based on URL parameter
        document.addEventListener('DOMContentLoaded', function() {
            var section = "{{ request.GET.section }}";
            if (section) {
                showContent(section);
            } else {
                showContent('deliveryDetails'); // Default section
            }
        });
    </script>
    <script>
        // Initialize Select2
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: 'Select your favorite books',
                allowClear: true
            });
        });
    </script>
    <!-- Confirm Wishlist Item Deletion -->
    <script type="text/javascript">
        $(document).ready(function() {
        $('#confirmDeleteModal').on('show.bs.modal', function(event) {
            var link = $(event.relatedTarget);
            var itemId = link.data('item-id');
            $('#confirmDeleteForm').attr('action', "{% url 'remove_wishlist_item' 0 %}".replace('0', itemId));
        });
    });
    </script>
    <!-- Confirm Wishlist Deletion -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#confirmDeleteWishlistModal').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget); // This will be the button
                var wishlistId = button.data('wishlist-id');
                console.log('Wishlist ID:', wishlistId); // Debugging statement
                $('#confirmDeleteWishlistForm').attr('action', "{% url 'remove_wishlist' 0 %}".replace('0', wishlistId));
                console.log('Form Action:', $('#confirmDeleteWishlistForm').attr('action')); // Debugging statement
            });
        });
    </script>
    <!-- Confirm Thread Deletion -->
    <script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var threadId = button.data('thread-id'); // Extract info from data-* attributes
            var modal = $(this);
            var deleteUrl = "{% url 'delete_thread' 0 %}".replace('0', threadId);
            modal.find('#confirmDeleteButton').attr('href', deleteUrl);
        });
    </script>
    <!-- Edit and Delete Reviews -->
    <script>
        $(document).ready(function() {
            $('.edit-review').on('click', function(event) {
                event.preventDefault();
                var reviewId = $(this).attr('review_id');
                var productId = $(this).attr('product_id');
                var reviewTitle = $(this).closest('.review-card').find('.review-title').text().trim();
                var reviewBody = $(this).closest('.review-card').find('.review-content').text().trim();
                var reviewRating = $(this).closest('.review-card').find('.review-rating').text().trim();

                $('#review-id').val(reviewId);
                $('#product-id').val(productId);
                $('#id_title').val(reviewTitle);
                $('#id_review_body').val(reviewBody);
                $('#id_rating').val(reviewRating);

                $('#edit-review-form-container').show()
                $('#review-submit-btn').text('Update Review');
            });

            $('#deleteReviewModal').on('show.bs.modal', function(event) {
                var link = $(event.relatedTarget); // Element that triggered the modal
                var url = link.data('url'); // Extract info from data-* attributes
                var modal = $(this);
                modal.find('#confirmDeleteReview').attr('href', url);
            });

            $('#confirmDeleteReview').on('click', function(event) {
                event.preventDefault(); // Prevent the default action
                var url = $(this).attr('href'); // Get the URL from the href attribute
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        window.location.href = "{% url 'profile' %}?section=userReviews";
                    },
                    error: function(response) {
                        alert('Error deleting review.');
                    }
                });
            });
        });
    </script>
    <!-- Confirm Post Deletion-->
     <script type="text/javascript">
        $('#deletePostModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var url = button.data('url'); // Extract info from data-* attributes
            var next = button.data('next'); // Extract next URL
            var modal = $(this);
            modal.find('#deletePostForm').attr('action', url);
            modal.find('#deletePostNext').val(next);
        });
    </script>
    <!-- Saved For Later Update -->
    <script type="text/javascript">
        $(document).ready(function() {
            // Remove item and reload on click
            $('.remove-saved').click(function(e) {
                e.preventDefault();
                var csrfToken = "{{ csrf_token }}";
                var ItemId = $(this).attr('href').split('/').pop();
                var url = `/bag/remove_saved_item/${ItemId}/`;
                var data = {'csrfmiddlewaretoken': csrfToken};
    
                $.post(url, data)
                    .done(function() {
                        location.reload();
                    })
                    .fail(function(response) {
                        alert('Error removing item.');
                    });
            });
        });
    </script>
{% endblock %}