{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <!-- Include Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="profile-overlay"></div>
    <div class="container mb-5">
        <h1>{{ user.username }}'s Profile</h1>
        <p class="text-navy">Member since: {{ profile.data_joined }}</p>
        <hr>

        <div class="row">
            <div class="col-4 profile-buttons">
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('deliveryDetails')">Delivery Details</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('personalInfo')">Personal Info</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('orderHistory')">Order History</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('userReviews')">My Reviews</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('myWishlists')">My Wishlists</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('mySavedItems')">My Saved Items</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('forumInteraction')">Forum Interaction</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('rewardsBenefits')">Rewards and Benefits</button>
            </div>
            <div class="col-8">
                <div id="deliveryDetails" class="content-section" style="display: none;">
                    <p><span class="lora-bold">Phone Number:</span> {{ profile.default_phone_number }}</p>
                    <p><span class="lora-bold">Street Address 1:</span> {{ profile.default_street_address1 }}</p>
                    <p><span class="lora-bold">Street Address 2:</span> {{ profile.default_street_address2 }}</p>
                    <p><span class="lora-bold">Town or City:</span> {{ profile.default_town_or_city }}</p>
                    <p><span class="lora-bold">County:</span> {{ profile.default_county }}</p>
                    <p><span class="lora-bold">Country:</span> {{ profile.default_country }}</p>
                    <p><span class="lora-bold">Postal Code:</span> {{ profile.default_postcode }}</p>
                    <button type="button" class="btn btn-outline-navy rounded-0" onclick="toggleForm('formDelivery')">Update Delivery Details</button>
                    <div id="formDelivery" style="display: none;">
                        <form method="POST" action="{% url 'update_delivery_details' %}">
                            {% csrf_token %}
                            {{ delivery_form|crispy }}
                            <button type="submit" class="btn btn-navy rounded-0">Save</button>
                        </form>
                    </div>
                </div>
                <div id="personalInfo" class="content-section" style="display: none;">
                    <h3>Your Bio:</h3>
                        <p>{{ profile.bio }}</p>
                    <h3>Favourite Books:</h3>
                        <ul class="list-unstyled">
                            {% for book in profile.favourite_books.all %}
                            <li>
                                <p>{{ book.friendly_name }} by: {{ book.author }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    <button type="button" class="btn btn-outline-navy rounded-0" onclick="toggleForm('formPersonalInfo')">Update Personal Info</button>
                    <div id="formPersonalInfo" style="display: none;">
                        <form method="POST" action="{% url 'update_personal_info' %}">
                            {% csrf_token %}
                            {{ personal_info_form|crispy }}
                            <button type="submit" class="btn btn-navy rounded-0">Save</button>
                        </form>
                    </div>
                </div>
                <div id="orderHistory" class="content-section" style="display: none;">
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th class="lora-bold">Order Number</th>
                                    <th class="lora-bold">Date</th>
                                    <th class="lora-bold">Items</th>
                                    <th class="lora-bold">Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                    <li class="small">
                                                        {{ item.product.friendly_name }} x{{ item.quantity }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>£{{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="userReviews" class="content-section" style="display: none;">
                    <h2>NEED TO ADD</h2>
                    <p>FILL THIS IN
                    </p>
                    <a class="btn btn-navy rounded-0" href="{% url 'downloads' %}">Challenges</a>
                </div>
                <div id="myWishlists" class="content-section" style="display: none;">
                    <h2>My Wishlists</h2>
                    {% if wishlists %}
                        <div class="wishlist-container d-flex flex-wrap">
                            {% for wishlist in wishlists %}
                            <div class="wishlist-card m-2">
                                <h3 class="wishlist-title">{{ wishlist.name }}</h3>
                                <ul class="wishlist-items list-unstyled">
                                    {% for item in wishlist.wishlist_items.all %}
                                        <li class="wishlist-item">
                                            <div class="d-flex">
                                                <div class="thumbnail-image-container">
                                                    <a class="text-decoration-none" href="{% url 'product_detail' item.product.id %}">
                                                        {% if item.product.image %}
                                                            <img class="card-img-top img-fluid thumbnail-image" src="{{ item.product.image.url }}" alt="{{ wishlist.product.name}}">
                                                        {% else %}
                                                            <img class="card-img-top img-fluid thumbnail-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name}}">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="pt-2">
                                                    <a class="text-decoration-none" href="{% url 'product_detail' item.product.id %}">
                                                        {{ item.product.friendly_name }}
                                                    </a>
                                                    {% if item.product.book %}
                                                        <p class="wishlist-author">By: {{ item.product.book.author }}</p>
                                                    {% endif %}
                                                    £{{ item.product.price }}
                                                    <div>
                                                        <a href="#" class="text-danger mt-2" data-toggle="modal" data-target="#confirmDeleteModal" data-item-id="{{ item.id }}">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <p>You currently don't have any wishlists</p>
                    {% endif %}
                </div>
                <div id="mySavedItems" class="content-section" style="display: none;">
                    <h2>Saved for Later</h2>
                    {% if saved_items %}
                        <div class="saved-items-container d-flex flex-wrap">
                            {% for saved_item in saved_items %}
                                <div class="saved-item-card m-2">
                                    {% if saved_item.product.image %}
                                        <img class="card-img-top img-fluid" src="{{ saved_item.product.image.url }}" alt="{{ saved_item.product.name}}">
                                    {% else %}
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name}}">
                                    {% endif %}
                                    <h3 class="saved-item-title">{{ saved_item.product.friendly_name }}</h3>
                                    <h4 class="saved-item-author">By: {{ saved_item.product.book.author }}</h4>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                    <p>You currently don't have any saved items</p>
                    {% endif %}
                </div>
                <div id="forumInteraction" class="content-section" style="display: none;">
                    <h2>Forum Interactions</h2>
                    {% for category in categories %}
                        <div class="category-section">
                            <h2 class="category-header">{{ category.name }}</h2>
                            {% if threads %}
                                <div class="threads-container d-flex flex-wrap">
                                    {% for thread in threads %}
                                    {% if thread.category.id == category.id %}
                                        <div class="thread-card m-2">
                                            <h3 class="thread-title">{{ thread.title }}</h3>
                                            <p class="thread-content">{{ thread.content|truncatewords:30 }}<p>
                                            <p class="thread-meta">Started by: {{ thread.created_by.username }} on {{ thread.created_at }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>   
                            {% else %}
                            <p>No threads available in this category</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div id="rewardsBenefits" class="content-section" style="display: none;">
                    <h2>Member Benfits</h2>
                    <p><strong>Dive into the world of books with our thrilling reading lists and challenges!</strong><br>
                        Whether you're a seasoned bookworm or just starting your literary journey, our curated reading
                        lists offer something for everyone. Explore new genres, discover hidden gems, and connect with
                        fellow readers as you embark on exciting challenges designed to ignite your passion for reading.
                        From monthly themes to year-long quests, each challenge is crafted to inspire and motivate you to
                        turn every page. Join us and transform your reading experience into an adventure filled with discovery,
                        growth, and endless enjoyment. Happy reading!
                    </p>
                    <a class="btn btn-navy rounded-0" href="{% url 'downloads' %}">Challenges</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'profiles/includes/remove_modal.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
    <script>
        function showContent(sectionId) {
            // Hide all content sections
            document.querySelectorAll('.content-section').forEach(function(section) {
                section.style.display = 'none';
            });
            // Show the selected content section
            document.getElementById(sectionId).style.display = 'block';
        }

        function toggleForm(formId) {
            var form = document.getElementById(formId);
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }

        // Show the section based on URL parameter
        document.addEventListener('DOMContentLoaded', function() {
            var section = "{{ section }}"
            showContent(section);
        });
    </script>
    <script type="text/javascript">
        // Initialize Select2
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: 'Select your favorite books',
                allowClear: true
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
        $('#confirmDeleteModal').on('show.bs.modal', function(event) {
            var link = $(event.relatedTarget);
            var itemId = link.data('item-id');
            $('#confirmDeleteForm').attr('action', "{% url 'remove_wishlist_item' 0 %}".replace('0', itemId));
        });
    });
    </script>
{% endblock %}