{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}

{% block content %}
    <div class="full-overlay"></div>
    <div class="container-bn mb-5">
        <div class="forum-container">
            <div class="row">
                <div class="col">
                    {% if thread.is_deleted %}
                        <h1 class="forum-font">This thread has been deleted</h1>
                    {% else %}
                        <h1 class="forum-font">{{ thread.title }}</h1>
                        <p class="text-small">Started by: {{ thread.created_by.username }} on {{ thread.created_at }}</p>
                        <p>{{ thread.content }}</p>
                        {% if thread.last_updated and thread.last_updated > thread.created_at %}
                            <p class="text-small text-muted">Edited on: {{ thread.last_updated }}</p>
                        {% endif %}
                        {% if thread.created_by == request.user %}
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'edit_thread' thread.id %}" class="text-success text-decoration-none text-small">Edit</a>
                                <a href="#" class="text-danger text-decoration-none text-small" data-toggle="modal" data-target="#deleteModal">Delete</a>                            </div>                        
                        {% endif %}
                    {% endif %}
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for post in posts %}
                        <div class="post-item">
                            <p>{{ post.content }}</p>
                            <p>By {{ post.created_by.username }} on {{ post.created_at }}</p>
                            {% if post.created_by == request.user %}
                                <div class="d-flex justify-content-end">
                                    <a href="{% url 'edit_post' post.id %}?next={% url 'post_list' category_id=post.thread.category.id thread_id=post.thread.id %}" class="text-success text-decoration-none text-small">Edit</a>
                                    <a class="text-danger text-decoration-none text-small">Delete</a>
                                </div>                        
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    {% if user.is_authenticated %}
                        {% if thread.is_deleted %}
                            <button class="btn btn-navy rounded-0" type="button" disabled>Reply</button>
                        {% else %}
                            <button class="btn btn-navy rounded-0" type="button" data-toggle="modal" data-target="#replyModal">
                                Reply
                            </button>
                        {% endif %}
                    {% else %}
                        <p class="text-navy">Please <a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">register</a> to interact with our forum.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'forum/includes/post_list_reply_modal.html' %}
{% endblock %}