.forum-font {
    font-family: 'Source Sans 4', sans-serif !important;
    font-size: 18px;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.profile-overlay {
    background-color: #edeeed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
}

/*.profile-wishlist {
    width: auto;
}*/

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#formPersonalInfo input::placeholder,
#formDelivery input::placeholder,
#formReview input::placeholder {
    color: #aab7c4;
}

#formPersonalInfo .form-control,
#formDelivery .form-control,
#formReview .form-control {
    color: #000;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.category-section {
    margin-bottom: 20px;
}

.category-header,
.wishlist-title,
.saved-item-title {
    font-family: 'Lora', serif;
    font-size: 24px;
    color: #0b254b;
    margin-bottom: 10px;
}

.threads-container
.wishlists-container,
.saved-items-container,
.p-reviews-container,
.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/*----------------------------------------------------- Card Styles */
.thread-card,
.wishlist-card,
.saved-item-card,
.review-card,
.post-card {
    background-color: #fefefe;
    border: 1px solid #0b254b;
    color: #0b254b;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.thread-card:hover,
.wishlist-card:hover,
.saved-item-card:hover,
.review-card:hover,
.post-card:hover {
    transform: scale(1.05);
}

.thread-title,
 {
    color: #0b254b;
    margin-bottom: 5px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.review-title {
    color: #0b254b;
    margin-bottom: 5px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.thread-content,
.wishlist-items,
.saved-item-author,
.post-content {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.post-content {
    font-family: ;
}

.thread-meta,
.wishlist-item,
.review-meta,
.post-meta {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #777;
}
.thumbnail-image-container {
    width: 120px;
    height: auto;
    padding: 5px;
}

.thumbnail-image {
    width: 100px;
    height: 130px;
    object-fit: cover;
}

.order-history-card {
    border: 1px solid #0b254b;
    background-color: #fefefe;
    padding: 5px;
    margin: 5px;
}