html {
    height: 100%;
}



body {
    background: url('/media/hero-image.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0b254b;
    z-index: 1000;
    box-shadow: 0 8px 6px -6px #0b254b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

.container-bn {
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 224px;
    width: 100%;
    padding-top: 2%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
    min-height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-details-container {
    height: auto; /* Adjust the height as needed */
    overflow-y: auto;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

a {
    color: #0b254b;
}

.bg-cream {
    background-color: #fefefe;
}

.bg-navy {
    background-color: #0b254b;
}

.text-cream {
    color: #fefefe;
}

.text-navy {
    color: #0b254b;
}

.border-cream {
    border-color: #fefefe;
}

.border-navy {
    border-color: #0b254b;
}

.btn-navy {
    background-color: #0b254b;
    color: #fefefe;
}

.ns-button {
    background-color: #fefefe;
    border: none;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #0b254b;
    background-color: #fefefe;
    margin: 0 auto;
    box-sizing: border-box;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0;
    border-radius: 0.25rem;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}



.icon-list li {
    padding: 0 5% 0 5%;
}

.overlay {
    background-color: #fefefe;
    opacity: 0.8;
    border-radius: 5px;

}

.full-overlay {
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.banner-container {
    width: 100%;
    overflow: hidden;
    background-color: #0b254b;
    padding: 5px 0;
}

.banner {
    width: max-content;
    display: flex;
    position: relative;
}

.banner-item {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
    color: #fefefe;
    justify-content: end;
}

@keyframes moveBanner {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 200px;
    flex: 1 1 20%;
    background-color: #fefefe;
}

.card-img-top {
    height: 200px;
    max-width: 150px;
}

.card-img-top-full {
    height: 400px;
    max-width: 300px;
}

.description {
    overflow-y: auto;
    height: 250px;

}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lead {
    margin-bottom: 0;
}

.modal {
    z-index: 1050;
}

/* ---------------------------------------- Back to Top Category Button */
.st-button {
    height: 46px;
    width: 46px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.st-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ---------------------------------------- Genre and Category Pages */
.card-glow:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.hidden {
    display: none;
}

#genreButtonsContainer,
#categoryButtonsContainer {
    margin-top: 10px;
    text-align: center;
}
/* ---------------------------------------- Genre and Category View */
.genre-section,
.category-section {
    width: 100%;
}

.genre-title,
.category-title {
    font-size: 1.5rem;
    font-weight: 300;
    color: #0b254b;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 10px;
    white-space: normal;
    z-index: 1;
}
.genre-books-wrapper,
.category-books-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: auto;
    overflow: hidden;
}

.books-carousel,
.accessories-carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 100%;
    padding: 1rem;
    justify-content: flex-start;
    white-space: nowrap;
    scrollbar-width: none;
}

.small-group .books-carousel,
.small-group .accessories-carousel {
    gap: 100px;
}

.book-item,
.accessory-item {
    flex: 0 0 auto;
    margin: 0 10px;
    text-align: center;
    min-width: 150px;
    max-width: 200px;
}

.book-title,
.accessory-title {
    display: block;
    white-space: normal;
    word-wrap: break-word;
    font-size: 1rem;
    line-height: 1.2;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(11, 37, 75, 0.5);
    color: #fefefe;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    z-index: 2;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* ---------------------------------------- Media Queries */
@media (min-width: 1200px) {
    .container{
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .search-bar {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .search-bar {
        width: 80%;
        max-width: none;
    }
}

@media (max-width: 576px) {
    .search-bar {
        width: 100%;
    }
}