html {
    height: 100%;
    position: relative;
    z-index: auto;
}

body {
    background: url('/media/hero-image.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0b254b;
    z-index: 1000;
    box-shadow: 0 8px 6px -6px #0b254b;
}

main {
    flex-grow: 1;
    padding-top: 224px;
}

h1, h2, h3, h4, h5, h6, .lora {
    font-family: 'Lora', serif;
}

.lora-bold {
    font-family: 'Lora', serif;
    font-weight: 700;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo-lg {
    height: 200px;
    width: 200px;
    margin: auto;
}

.text-small {
    font-size: small;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hr-with-word {
    display: flex;
    align-items: center;
    text-align: center;
}

.hr-with-word::before,
.hr-with-word::after {
    content: '';
    flex-grow: 1;
    border-bottom: 1px solid rgba(159, 157, 157, 0.85);
}

.hr-with-word::before {
    margin-right: 10px;
}

.hr-with-word::after {
    margin-right: 10px;
}

.wishlist {
    width: 100px;
    font-size: small;
}

/* ---------------------------------------- Icons */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.heart-icon {
    color: #fefefe;
    background-color: #f34dcf;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2%;
}

.heart-icon:hover,
.heart-icon:active {
    color: #f34dcf;
    background-color: #fefefe;

}

/* ---------------------------------------- Colours and general styles */
.pink-link:hover {
    color: #f34dcf;
}

.orange-link:hover {
    color: #ffc107;
}

.green-link:hover {
    color: #057d23;
}

/* ---------------------------------------- Colours and general styles */
a {
    color: #0b254b;
}

.bg-cream {
    background-color: #fefefe;
}

.bg-navy {
    background-color: #0b254b;
}

.text-cream {
    color: #fefefe;
}

.text-navy {
    color: #0b254b;
}

.text-pink {
    color: #f34dcf;
}

.border-cream {
    border-color: #fefefe;
}

.border-navy {
    border-color: #0b254b;
}

.btn-navy {
    background-color: #0b254b;
    color: #fefefe;
}

.btn-navy:hover,
.btn-navy:active,
.btn-navy:focus {
    background: #fefefe;
    color: #0b254b !important;
    border: 1px solid #0b254b;
}

.btn-outline-navy {
    color: #0b254b;
    border: 1px solid #0b254b;
    background-color: #fefefe;
}

.btn-outline-navy:hover,
.btn-outline-navy:active,
.btn-outline-navy:focus {
    background: #0b254b;
    color: #fefefe !important;
}

.btn-cream {
    color: #0b254b;
    background-color: #fefefe;
}

.btn-pink {
    color: #f34dcf;
    border: 1px solid #f34dcf;
    background-color: #fefefe;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
    background: #f34dcf;
    color: #fefefe !important;
}

.btn-outline-pink {
    color: #fefefe;
    border: 1px solid #f34dcf;
    background-color: #f34dcf;
}

.btn-outline-pink:hover,
.btn-outline-pink:active,
.btn-outline-pink:focus {
    background: #fefefe;
    color: #f34dcf !important;
}

.btn-green {
    color: #057d23;
    border: 1px solid #057d23;
    background-color: #fefefe;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background-color: #057d23;
    color: #fefefe !important;
}

.btn-blue {
    color: #0f5aac;
    border: 1px solid #0f5aac;
    background-color: #fefefe;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background-color: #0f5aac;
    color: #fefefe !important;
}


.btn-orange {
    color: #fefefe;
    border: 1px solid #dc8a3f;
    background-color: #dc8a3f;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background-color: #fefefe;
    color: #dc8a3f !important;
}

.ns-button {
    background-color: #fefefe;
    border: none;
}

/* ---------------------------------------- Navbar */
.dropdown-menu {
    position: relative;
    width: auto;
    display: none;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
}

.icon-list li {
    padding: 0 5% 0 5%;
}

/* ---------------------------------------- Slide out menu */
.bs-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11200;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    color:#fefefe;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
    background-color: #0b254b;
    visibility: visible;
}

.bs-canvas.active {
    transform: translateX(0);
}

.bs-canvas-content {
    overflow-y: auto;
    color: #fefefe; /* Visible text */
    padding: 20px;
    visibility: visible; /* Ensure content is visible */
}

.bs-canvas-content a {
    color: #0b254b; /* Adjust as needed */
    text-decoration: none; /* Optional styling */
    pointer-events: auto; /* Ensure the link has a clickable pointer */
    z-index: 11300; /* Ensure above the overlay */
    position: relative;
}

.bs-canvas-content:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bs-canvas.ml-0 {
    transform: translateX(0); /* Slide into view */
}

.bs-canvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 120000;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

/* ---------------------------------------- Toasts */
/*
.toast {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: fixed;
    top: 120px;
    right: 15px;
    z-index: 9999999999999999;
}

.show {
    visibility: visible;
    opacity: 1;
}
*/
.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper,
.saved-items-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---------------------------------------- Overlays */
.overlay {
    background-color: #fefefe;
    opacity: 0.8;

}

.full-overlay {
    background-color: #edeeed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.cream-overlay {
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.community-overlay {
    background-color: rgba(255, 217, 104, 0.95);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

/* ---------------------------------------- Cards */
.card {
    border: 1px solid #0b254b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 200px;
    flex: 1 1 200px;
    margin: 10px;
    background-color: #fefefe;
    padding: 4%;
    border-radius: 0 !important;
}

.card-navy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    background-color: #0b254b;
    color: #fefefe;
    border: 1px solid #fefefe;
}

.card-navy a,
.card-navy p {
    color: #fefefe;
}

.card-img-top {
    height: 200px;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top-full {
    height: 400px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-size: 1.25rem;
}

.description {
    overflow-y: auto;
    height: 250px;

}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lead {
    margin-bottom: 0;
}

.glow-border {
    border: 1px solid #384c6a;
    box-shadow: 0 0 2px #384c6a, 0 0 2px #384c6a;
}

/* ---------------------------------------- Modals */
.modal {
    z-index: 1050;
}

/* ---------------------------------------- Back to Top Category Button */
.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.st-button {
    height: 46px;
    width: 46px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.st-link,
.update-link,
.remove-item {
    cursor: pointer;
}
/* ---------------------------------------- Containers */
.container-bn {
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
    padding-top: 2%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
    min-height: auto;
}

.bag-container,
.saved-container,
.products-container,
.reviews-container,
.checkout-container {
    background-color: #fefefe;
    padding: 5%;
    margin: 20px;
    width: 100%;
}

.container {
    position: relative;
}

.message-container {
    position: fixed;
    top: 120px;
    right: 15px;
    z-index: 99999999999;
}

.image-container {
    border: 2px solid #384c6a;
    padding: 5%;
    display: flex;
    justify-content: center;
    position: relative;
}

.image-container img {
    display: block;
    margin: auto;
}

.product-details-container {
    height: auto;
    overflow-y: auto;
}

.search-container {
    display: none;
}

.search-container.active .search-form {
    display: block;
}

.search-container.active #toggle-search {
    display: none;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

#genreButtonsContainer,
#categoryButtonsContainer {
    margin-top: 10px;
    text-align: center;
}

/* ---------------------------------------- Browse and sort buttons */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-buttons {
    display: flex;
    gap: 10px;
}

.main-buttons button {
    flex: 1;
    margin: 0 5px;
}

.sub-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ---------------------------------------- Genre and Category Pages */
.page-link {
    background-color: #0b254b;
    color: #fefefe;
    border: 1px solid #fefefe;
    border-radius: 0 !important;
}

.page-link:hover,
.page-item.active .page-link {
    background-color: #fefefe;
    color: #0b254b;
    border: 1px solid #0b254b;
    border-radius: 0;   
}

/* ---------------------------------------- Footer */
footer {
    margin-top: auto;
    width: 100%;
    padding: 5px 5px 1px 5px;
}

.footer-text {
    font-size: 15px;
    font-weight: 400;
    padding-left: 20%;
    margin-left: 20%;
}

.footer-list a {
    color: #fefefe;
    font-size: 10px;
    padding-left: 20%;
    margin-left: 20%;
}

.footer-sm-icons i,
.footer-sm-icons a {
    background-color: #0b254b;
    color: #fefefe;
    font-size: 10px;
}

.sm-footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.small-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer hr {
    background-color: #fefefe;
    margin: 0 1% 5px 1%;

}

/* ---------------------------------------- Genre and Category Pages */
.card-glow:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.hidden {
    display: none !important;
}

/* ---------------------------------------- Genre and Category View */
.genre-section,
.category-section {
    width: 100%;
}

.genre-title,
.category-title {
    font-size: 1.5rem;
    font-weight: 300;
    color: #0b254b;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 10px;
    white-space: normal;
    z-index: 1;
}
.genre-books-wrapper,
.category-accessories-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: auto;
    overflow: hidden;
}

.books-carousel,
.accessories-carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 100%;
    padding: 1rem;
    justify-content: flex-start;
    white-space: nowrap;
    scrollbar-width: none;
}

.small-genre .books-carousel,
.small-group .accessories-carousel {
    gap: 100px;
}

.book-item,
.accessory-item {
    flex: 0 0 auto;
    margin: 0 10px;
    text-align: center;
    min-width: 150px;
    max-width: 200px;
}

.book-title,
.accessory-title {
    display: block;
    white-space: normal;
    word-wrap: break-word;
    font-size: 1rem;
    line-height: 1.2;
    font-family: 'Lora', serif;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(11, 37, 75, 0.5);
    color: #fefefe;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    z-index: 2;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* ---------------------------------------- Product Managment */
.management-buttons {
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------- Allauth Form Formatting */
allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #0b254b;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fefefe;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0b254b;
    border: 1px solid #0b254b;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8;
}

/* ---------------------------------------- Product Management Forms */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ---------------------------------------- Media Queries */
@media (min-width: 1200px) {
    .container{
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .search-bar-wrapper {
       display: none;
    }

    .base-icons {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo {
        height: 70px;
        width: 70px;
    }

    footer {
        padding: 0;
    }

    .footer-text {
        padding-left: 1%;
        margin-left: 1%;
    }

    .footer-list a {
        padding-left: 1%;
        margin-left: 1%;
    }

    .footer-sm-icons {
        margin: 0 5px
    }
}