{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="full-overlay"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto mb-2">
                <h1 class="display-2"><i class="fa-regular fa-face-frown"></i></h1>
                <h2 class="display-4 logo-font text-navy">
                   403
                </h2>
                <h3 class="text-navy">Forbidden.</h3>
                <p class="lora text-navy">Why not have a look at some of our products?</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" 
                            class="btn btn-navy btn-lg rounded-0 text-uppercase py-3">
                                Return to shop
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}