{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="full-overlay"></div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <hr>
                <h1 class="text-center">Product Management</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-4 management-buttons">
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('addBook')">Add a Book</button>
                <button class="btn btn-navy rounded-0 mb-2" type="button" onclick="showContent('addAccessory')">Add an Accessory</button>
            </div>
            <div class="col-8">
                <div id="addBook" class="content-section" style="display: none;">
                    <div class="text-center">
                        <h2>Add a Book</h2>
                    </div>
                    <form method="POST" action="{% url 'add_book' %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}                        
                        {% for field in book_form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-navy rounded-0">Cancel</a>
                            <button class="btn btn-navy rounded-0" type="submit">Add Product</button>
                        </div> 
                    </form>
                </div>
                <div id="addAccessory" class="content-section" style="display: none;">
                    <div class="text-center">
                        <h2>Add an Accessory</h2>
                    </div>
                    <form method="POST" action="{% url 'add_accessory' %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in accessory_form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-navy rounded-0">Cancel</a>
                            <button class="btn btn-navy rounded-0" type="submit">Add Product</button>
                        </div> 
                    </form>  
                </div>
            </div>
        </div>
    </div>               
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        function showContent(sectionId) {
            // Hide all content sections
            document.querySelectorAll('.content-section').forEach(function(section) {
                section.style.display = 'none';
            });
            // Show the selected content section
            document.getElementById(sectionId).style.display = 'block';
        }

        function toggleForm(formId) {
            var form = document.getElementById(formId);
            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        }

        // Show the section based on URL parameter
        document.addEventListener('DOMContentLoaded', function() {
            var section = "{{ request.GET.section }}";
            if (section) {
                showContent(section);
            } else {
                showContent('addBook'); // Default section
            }
        });
    </script>
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}