{% extends "base.html" %}
{% load static %}
{% block extra_title %}- {{ page_title }}
{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="full-overlay"></div>
    <div class="container-bn">
        <div class="products-container">
            <div class="row">
                <div class="col text-center mt-3 text-navy">
                    <hr>
                    <h2 class="text-uppercase">Products</h2>
                    <hr>
                    {% include 'products/includes/browse_sort_buttons.html' with show_filters=True product_count=True %}
                </div>
            </div>
            <div class="row">
                <div class="product-container col-10">
                    <div class="row mt-1 mb-2">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 border-0">
                                    <div class="image-container border-0">
                                        {% if product.image %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.friendly_name }}">
                                            </a>
                                        {% else %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.friendly_name }}">
                                            </a>
                                        {% endif %}
                                        {% if user.is_authenticated and product.id in wishlist_items %}
                                            <a href="{% url 'remove_from_wishlist' product.id %}" class="heart-icon h3 text-decoration-none">&#10084;</a>
                                        {% endif %}
                                    </div>
                                    <div class="card-body pl-2 ml-2 bg-cream pb-0">
                                        <p class="mb-0 text-left lora h6">{{ product.friendly_name }}</p>
                                    </div>
                                    <div class="card-footer bg-cream pl-2 ml-2 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                                {% if product.rating %}
                                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                                <br>
                                                {% if product.book.genre %}
                                                    <p class="small mt-1 mb-0">
                                                        <a class="text-muted" href="{% url 'all_books' %}?genre={{ product.book.genre|urlencode }}">
                                                            <i class="fas fa-tag mr-1"><span class="lora ml-1">{{ product.book.genre }}</span></i>
                                                        </a>
                                                    </p>
                                                {% elif product.accessory.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'all_accessories' %}?category={{ product.accessory.category|urlencode }}">
                                                        <i class="fas fa-tag mr-1"><span class="lora ml-1">{{ product.accessory.category }}</span></i>
                                                    </a>
                                                </p>
                                                {% endif %}
                                                {% if request.user.is_superuser %}
                                                    <p class="ml-1 small">
                                                        <a class="text-success" href="{% url 'edit_product' product.id %}">Edit</a>
                                                        <span> | </span>
                                                        <a class="text-danger" href="#" data-toggle="modal" data-target="#deleteModal" data-url="{% url 'delete_product' product.id %}">Delete</a>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-sm-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}                        
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if is_paginated %}
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="st-button shadow-sm rounded-0 border border-navy">
        <a class="st-link d-flex h-100">
            <i class="fas fa-arrow-up text-navy mx-auto my-auto"></i>
        </a>	
    </div>
    {% include 'products/includes/confirm_delete_modal.html' %}
{% endblock %}
{% block postloadjs %}
    {{ block.super}}
    <script>
        $(document).ready(function () {
            $('#genreButton').click(function () {
                $('#genreButtonsContainer').toggleClass('hidden');
                $('#categoryButtonsContainer').addClass('hidden');
            });
        });
        $(document).ready(function () {
            $('#categoryButton').click(function () {
                $('#categoryButtonsContainer').toggleClass('hidden');
                $('#genreButtonsContainer').addClass('hidden');
            });
        });
    </script>
    <script>
        $('.st-link').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>  
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var link = $(event.relatedTarget);
            var url = link.data('url');
            var modal = $(this);
            modal.find('#confirmDelete').attr('href', url);
        });
    </script>  
{% endblock %}